
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)='saveScrollPosition()'>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="eye-icon" (click)='toggleOverlay()'>
      <ion-icon name="{{eyeIcon}}"></ion-icon>
    </ion-buttons>
    <ion-title>Quran Memorizer</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="container">
    <canvas id="js-canvas"></canvas>
    <form class="full-width form">
      <div class="full-width" *ngFor="let pageNumber of pages">
        <img class="full-width" src="./assets/images/page{{pageNumber+1}}.jpg" />
      </div>
    </form> 
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="fab-up">
    <ion-fab-button size="small" color="success" (click)='scrollUp()' style="margin-bottom: 58px;">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="fab-down">
    <ion-fab-button size="small" color="success" (click)='scrollDown()'>
      <ion-icon name="arrow-down"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
