.eye-icon{
    width: 24px;
    height: 24px;
    margin-right: 12px;
    ion-icon{
        width: 24px;
        height: 24px;
    }
}
#container { 
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
}

#js-canvas {
    position: absolute;
    top: 0;
	display: block;
    opacity: 0.96;
    visibility: hidden;
    cursor:  crosshair;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

.form{
    visibility: hidden;
}

#fab-up{
    visibility: hidden;
}

#fab-down{
    visibility: hidden;
}