.header{
    height: 50%;
    width: 100%;
    background: #3bf890;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .logo-container{
        .sub-header{
            text-align: center;
            color: #0d9b50;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
.round-button{
    border-radius: 50%; 
    height: 6rem;
    width: 6rem; 
    margin-top: 20px; 
    background-color: #cc651f;
    box-shadow: 7px 4px 9px -1px #888888;
    ion-icon{
        color: white; width: 3em; height: 3em;
    }
}
.button-info{
    font-size: 17px; 
    font-weight: bold;
    margin-top: 8px;
}

.resume-button{
    height: 4rem;
    margin-top: 50px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    background-color: #fdeee4;
    border: 2px solid #cc651f;
    font-size: 17px;
    line-height: 3rem;
    color: #cc651f;
    ion-icon{
        vertical-align: middle;
        color: #cc651f; width: 3em; height: 3em;
    }
}