
<ion-content>
  <div class="header">
    <div class="logo-container">
        <img width="200" height="200" src="./assets/images/icon.png" />
        <div class="sub-header">Quran Memorizer</div>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col class="text-align-center">
        <button class="resume-button" ion-button icon-only routerLink="/galary/1" routerDirection="forward">
          <span class="font-bold">Resume</span>
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col class="text-align-center">
        <button class="round-button" ion-button icon-only>
            <ion-icon name="exit"></ion-icon>
        </button>
        <div class="button-info">GoTo Page</div>
    </ion-col>
    <ion-col class="text-align-center">
        <button class="round-button" ion-button icon-only>
            <ion-icon name="search"></ion-icon>
        </button>
        <div class="button-info">Search Surah</div>
    </ion-col>
  </ion-row>
  
 </ion-content>


